<launch>
	<node pkg="qr_code_finder" type="set_camera_parameters.sh" name="camera_param_setter"/>
	<node pkg="camera_publisher" type="camera_publisher_node" name="camera_publisher1" output="screen">

	      <param name="device_name" type="string" value="/dev/video0" />
	      <param name="topic_name" type="string" value="data/video1" />

	      <param name="camera_width" type="int" value="1920" />
	      <param name="camera_height" type="int" value="1080" />

	      <param name="output_width" type="int" value="1920" />
	      <param name="output_height" type="int" value="1080" />
	</node>
</launch>
