<!-- 
    Launches both camera node and QR code finder
    Publishes raw image to bottomcamera/image_raw
    Publishees QR code to qr_code_finder/output_image
 -->

<launch>

<include file="./camera_publisher1.launch" />

<node name="qrfinder" pkg="qr_code_finder" type="qr_code_finder" args="/data/video1 /qr_parts" />
<node name="bottom_camera_viz" pkg="image_view" type="image_view" args="image:=/data/video1" />
<node name="qr_output_viz" pkg="image_view" type="image_view" args="image:=/qr_parts" />

</launch>
